/* Reset some default browser styles */
body {
    text-align: left;
    background-image: url("purple.jpg");
    background-color: rgb(99, 4, 85);
    margin: 1rem;
    padding:5rem;
    font-family: Arial, sans-serif;
    
}


/* Header styles */
header {
    /* background-color: #640355; */
    color: rgb(222, 143, 15);
    padding: 0;
    margin:0;
    border-radius: 2cap;
    text-align: center;
    background-size: auto;
    width: auto;
    height: auto;
}

h1 {
    text-align: center; 
    font-family:'Times New Roman', Times, serif; 
    color: rgb(197, 119, 41);
}

h2 {
    color: rgb(244, 243, 240);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(244, 243, 240);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    /* background-color: rgb(254, 250, 250); */
    color: rgb(64, 2, 2);
    padding: 20px;
    width: auto;
    max-height: 400px;
    text-align: center; 
    border-radius: 2cap;
}

input {
    background-color: rgb(207, 197, 197);
    box-sizing: border-box;
    width: auto;
    max-height: 400px;
    margin: 1pc;
    padding:1rem;
    border: 5px solid;
    /* border: 1rem; */
    border-radius: 2px;
    border-radius: 2cap;
    border-color: #640355;
    
}

/* Navigation styles */
.nav-list {
    justify-content: center;
    text-align: center;
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    gap: 10px; 
}

.nav-list li {
    display: inline-block; 
}

.nav-list a {
    display: block; 
    padding: 10px 20px; 
    text-decoration: none; 
    background-color: #f0f0f0; 
    border: 1px solid #cccccc; 
    border-radius: 4px;
    color: #2c0327; 
    transition: background-color 0.3s; 
}

.nav-list a:hover {
    background-color: #782875;
}


/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    /* background-color: #510848; */
    color: #fff;
    text-align: center;
    border-radius: 2cap;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 91%;
    height: auto;
}
